body{

background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
padding:10px;

}

header{

text-align:center;
padding:10px;
background:#161616;
border-radius:10px;

}

section{

background:#161616;
padding:15px;
margin-top:10px;
border-radius:10px;

}

.cards{

display:flex;
gap:10px;

}

.card{

flex:1;
background:#1e1e1e;
padding:10px;
border-radius:10px;
text-align:center;

}

input,select,button{

width:100%;
padding:10px;
margin-top:8px;
border-radius:8px;
border:none;

}

button{

background:#7b2cbf;
color:white;
font-weight:bold;

}

ul{

list-style:none;
padding:0;

}

li{

background:#1e1e1e;
padding:10px;
margin-top:8px;
border-radius:8px;

}

#app{

display:none;

}

#login{

text-align:center;
margin-top:100px;

}

canvas{

margin-top:20px;

}